[submodule "third_party/STM32Cube_FW_F1"]
	path = third_party/STM32Cube_FW_F1
	url = git@github.com:Kamilcuk/STM32Cube_FW_F1.git
	branch = Cfiles_only
[submodule "third_party/c-libs"]
	path = third_party/c-libs
	url = git@github.com:kamilcuk/c-libs
